<!DOCTYPE html>
<html>
<head>
    <title>OuçaJunto.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.0.0/dist/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/Rádio.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-brand">OuçaJunto<span class="brand-dot">.</span></a>
            <div class="navbar-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar-menu">
                <!-- Campo para conectar-se a uma transmissão -->
                <div id="conectar">
                    <input type="text" id="idTransmissao" placeholder="Digite o ID da Transmissão">
                    <button onclick="conectarComoOuvinte()">Conectar</button>
                </div>

                <!-- Exibição do ID da sala com botão de saída (inicialmente oculto) -->
                <div id="salaInfo" style="display: none; align-items: center;">
                    <span id="idSala" style="margin-right: 10px; font-weight: bold;"></span>
                    <button onclick="sairDaTransmissao()" style="background: red; color: white; border: none; padding: 5px 10px; border-radius: 5px; cursor: pointer;">Sair</button>
                </div>
            </ul>
        </div>
    </nav>


    <!-- Conteúdo Central -->
    <main class="main-content">
        <h1>Transmissor</h1>

        <img src="static/img/cassete.png" alt="Descrição da imagem" class="minha-imagem">
        <audio id="reprodutorAudio" controls></audio>

        <!-- Botão para abrir/fechar o menu suspenso -->
        <button class="toggle-menu" onclick="alternarMenu()">
            <i class="fas fa-chevron-down"></i> <!-- Ícone da seta -->
        </button>
    
        <!-- Menu suspenso (inicia recolhido) -->
        <div class="menu-container" id="uploadMenu">
            <div class="file-upload-container">
                <input type="file" id="arquivoAudio" accept="audio/*" class="file-input">
                <button onclick="enviarAudio()" class="send-button">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    
        <p id="status">Status: Aguardando...</p>
    </main>

    <!-- Rodapé -->
    <footer>
        <p>OuçaJunto v.26 - Todos Direitos Reservados.</p>
    </footer>    

    <!-- Scritp do sistema de audio -->
    <script type="module" src="static/js/SistemaAudio.js" defer></script>

    <!-- Script de interfaces -->
    <script type="module" src="static/js/Interfaces.js" defer></script>


</body>
</html>